.FavoritePageQuizDiv{
    width: 340px;
    background-color: #222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 410px;
    margin: 0px 35px 35px 0px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.FavoritePageQuizDiv:nth-child(4){
    margin: 0px 0px 35px 0px
}

.FavoritePageQuizDiv:nth-child(8){
    margin: 0px 0px 35px 0px
}

.FavoritePageQuizDiv:nth-child(12){
    margin: 0px 0px 35px 0px
}

.FavoritePageQuizImg{
    width: 100%;
    background-image: url("../../assets/images/photo2.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

.FavoritePageQuizInfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    flex-direction: column;
    color: white;
}

.FavoritePageQuizInfo h1{
    margin: 20px 0px 20px 0px;
    font-size: 25px;
}

.FavoritePageQuizInfo p{
    margin: 0px;
}

.FavoritePageQuizInfoBottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    color: white;
}

.FavoritePageQuizInfoBottomP span{
    margin-left: 10px;
    color: yellow
}

@media(max-width: 1889px){
    .FavoritePageQuizDiv{
        margin: 0px 25px 25px 0px;
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 0px 25px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 0px 25px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 25px 0px
    }
}

@media(max-width: 1880px){
    .FavoritePageQuizDiv{
        margin: 0px 15px 15px 0px;
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 0px 15px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 0px 15px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 15px 0px
    }
}

@media(max-width: 1821px){
    .FavoritePageQuizDiv{
        margin: 0px 45px 45px 0px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 0px 45px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 45px 45px 0px;
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 45px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 45px 45px 0px;
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 45px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 45px 0px
    }
}

@media(max-width: 1485px){
    .FavoritePageQuizDiv{
        margin: 0px 25px 25px 0px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 0px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 25px 25px 0px;
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 25px 25px 0px;
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 25px 0px
    }
}

@media(max-width: 1439px){
    .FavoritePageQuizDiv{
        margin: 0px 25px 25px 0px;
        width: 310px;
        height: 430px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 25px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 25px 25px 0px;
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 25px 25px 0px;
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 25px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 25px 0px
    }
}

@media(max-width: 1439px){
    .FavoritePageQuizDiv{
        margin: 0px 25px 25px 0px;
        width: 290px;
        height: 430px;
    }
}

@media(max-width: 1295px){
    .FavoritePageQuizDiv{
        margin: 0px 25px 25px 0px;
        width: 270px;
        height: 430px;
    }
}

@media(max-width: 1225px){
    .FavoritePageQuizDiv{
        margin: 0px 45px 45px 0px;
        width: 42%;
        height: 410px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 45px 45px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 45px 45px 0px;
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 45px 0px
    }

    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 45px 45px 0px;
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 45px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 45px 0px
    }
}

@media(min-width: 1200px){
    .FavoritePageQuizDiv:hover{
        transform: scale(1.05);
    }
}

@media(max-width: 950px){
    .FavoritePageQuizDiv{
        margin: 0px 45px 45px 0px;
        width: 350px;
        height: 410px;
    }
}

@media(max-width: 877px){
    .FavoritePageQuizDiv{
        margin: 0px 45px 45px 0px;
        width: 320px;
        height: 410px;
    }
}

@media(max-width: 811px){
    .FavoritePageQuizDiv{
        margin: 0px 45px 45px 0px;
        width: 43%;
        height: 405px;
    }
}

@media(max-width: 714px){
    .FavoritePageQuizDiv{
        margin: 0px 35px 35px 0px;
        width: 43%;
        height: 405px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 35px 35px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 35px 35px 0px;
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 35px 0px
    }

    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 35px 35px 0px;
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 35px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 35px 0px
    }
}

@media(max-width: 660px){
    .FavoritePageBodyHeader{
        margin-top: 120px;
    }
}

@media(max-width: 645px){
    .FavoritePageQuizDiv{
        width: 400px;
        height: 430px;
        margin: 0px 0px 50px 0px
    }

    .FavoritePageQuizImg{
        height: 220px;
    }

    .FavoritePageQuizDiv:nth-child(3){
        margin: 0px 0px 50px 0px
    }

    .FavoritePageQuizDiv:nth-child(4){
        margin: 0px 0px 50px 0px
    }
    
    .FavoritePageQuizDiv:nth-child(6){
        margin: 0px 0px 50px 0px
    }

    .FavoritePageQuizDiv:nth-child(8){
        margin: 0px 0px 50px 0px
    }

    .FavoritePageQuizDiv:nth-child(9){
        margin: 0px 0px 50px 0px
    }

    .FavoritePageQuizDiv:nth-child(12){
        margin: 0px 0px 50px 0px
    }
}

@media(max-width: 446px){
    .FavoritePageQuizDiv{
        width: 95%;
        height: 430px;
        margin: 0px 0px 40px 0px
    }

    .FavoritePageBodyHeader{
        width: 85%;
    }
}

@media(max-width: 350px){
    .FavoritePageQuizDiv{
        height: 410px;
    }

    .FavoritePageQuizImg{
        height: 200px;
    }
}

@media(max-width: 320px){
    .FavoritePageQuizDiv{
        height: 385px;
    }

    .FavoritePageQuizImg{
        height: 180px;
    }
}