.RandomGameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  
.RandomGameBodyContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 160px;
    flex-direction: column;
    flex-grow: 1;
}

.RandomGameBodyContainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
}

.RandomGameQuestionHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    margin-bottom: 60px;
}

.RandomGameQuestionHeader h1{
    color: white;
    margin: 0px;
}

.RandomGameQuestionImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-image: url("../../assets/images/photo2.jpg");
    background-size: cover;
    background-position: center;
    height: 320px;
    border-radius: 15px;
}

.RandomGameQuestionsBtnsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 80px;
}

.RandomGameQuestionBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 47%;
    margin-top: 30px;
    color: white;
    background-color: #333;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 30px;
}

.RandomGameBodyFinishDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.RandomGameBodyFinishBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: white;
    background-color: rgb(39, 139, 119);
    border-radius: 15px;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 1360px){
    .RandomGameQuestionHeader{
        width: 900px;
    }   

    .RandomGameQuestionImg{
        width: 900px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 900px;
    }
}

@media(max-width: 1250px){
    .RandomGameQuestionHeader{
        width: 800px;
    }   

    .RandomGameQuestionImg{
        width: 800px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 800px;
    }
}

@media(max-width: 1250px){
    .RandomGameQuestionHeader{
        width: 700px;
    }   

    .RandomGameQuestionImg{
        width: 700px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 700px;
    }
}

@media(max-width: 1250px){
    .RandomGameQuestionHeader{
        width: 650px;
    }   

    .RandomGameQuestionImg{
        width: 650px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 650px;
    }
}

@media(min-width: 1200px){
    .RandomGameBodyFinishBtn:hover{
        opacity: 0.85;
    }

    .RandomGameQuestionBtn:hover{
        background-color: #444;
    }
}

@media(max-width: 950px){
    .RandomGameQuestionHeader{
        width: 750px;
    }   

    .RandomGameQuestionImg{
        width: 750px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 750px;
    }
}

@media(max-width: 820px){
    .RandomGameQuestionHeader{
        width: 650px;
    }   

    .RandomGameQuestionImg{
        width: 650px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 650px;
    }
}

@media(max-width: 730px){
    .RandomGameQuestionHeader{
        width: 550px;
    }   

    .RandomGameQuestionImg{
        width: 550px;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 550px;
    }
}

@media(max-width: 640px){
    .RandomGameQuestionHeader{
        width: 90%;
    }   

    .RandomGameQuestionImg{
        width: 90%;
    }

    .RandomGameQuestionsBtnsDiv{
        width: 90%;
    }

    .RandomGameQuestionsBtnsDiv{
        flex-direction: column;
    }

    .RandomGameQuestionBtn{
        width: 100%;
    }
}

@media(max-width: 490px){
    .RandomGameQuestionImg{
        height: 250px;
    }
}

@media(max-width: 360px){
    .RandomGameQuestionImg{
        height: 200px;
    }
}

@media(max-width: 360px){
    .RandomGameQuestionImg{
        height: 180px;
    }
}