.HomeContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  
.HomeHorizontalContainer{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    flex-direction: column;
}

.HomeContainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-direction: column;
}

.HomeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.HomeHeader h1{
    color: rgb(39, 139, 119);
    margin: 0px;
}

.HomeHeaderCreateDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.HomeHeaderCreateDiv p{
    color: white;
    margin: 0px 0px 0px 10px
}

.HomeHeaderCreateDiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.HomeHeaderCreateDiv1 p{
    color: white;
    margin: 0px 0px 0px 10px
}

.HomeHeaderCreateBtn{
    width: 22px;
    background-color: rgb(39, 139, 119);
    padding: 6px;
    border-radius: 20px;
}

.HomeBlocksContainer1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 1.3rem;
}

.HomeBlocksContainer2{
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.HomeBlocksDiv{
    width: 100%;
    min-height: 440px;
    border-radius: 20px;
    background-color: #222;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.HomeBlocksImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url('../../assets//images/photo2.jpg');
    background-size: cover;
    background-position: center;
    height: 55%;
    padding: 0px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}

.HomeBlockslInfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    height: 50%;
}

.HomeBlockslInfo h1{
    font-size: 23px;
    margin: 20px 0px 20px 0px;
}

.HomeHorizontalInfoTopP{
    margin: 0px 0px 20px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HomeHorizontalInfoBtmP{
    margin: 0px 0px 20px 0px;
}

.HomeHorizontalInfoBtmP span{
    margin-left: 10px;
}

.HomeContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
    margin-top: 50px;
}

@media(min-width: 600px){
    .HomeBlocksContainer1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1360px){
    .HomeBlocksContainer1{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1660px){
    .HomeBlocksContainer1{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1200px){
    .HomeHeaderCreateDiv p:hover{
        color: rgb(39, 139, 119);
    }   
    
    .HomeHeaderCreateDiv1 p:hover{
        color: rgb(39, 139, 119);
    }    
}

@media(max-width: 1080px){
    .HomeBlocksContainer1{
        justify-content: space-between;
    }

    .HomeBlocksContainer2{
        justify-content: space-between;
    }
}

@media(max-width: 400px){
    .HomeHeader{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .HomeHeaderCreateDiv{
        margin-top: 25px;
    }

    .HomeHeaderCreateDiv1{
        margin-top: 25px;
        margin-left: 0px;
        padding: 0px;
    }

    .HomeHeaderCreateDiv1 p{
        padding: 0px;
        margin: 0px 0px 0px 3px;
    }
}