.FavoritePageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  
.FavoritePageBodyContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    flex-direction: column;
    flex-grow: 1;
}

.FavoritePageBodyHeader{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-top: 100px;
}

.FavoritePageBodyHeader h1{
    color: rgb(39, 139, 119);
}

.FavoritePageQuizesList{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-top: 30px;
    flex-wrap: wrap;
}

@media(max-width: 660px){
    .FavoritePageBodyHeader{
        margin-top: 120px;
    }
}

@media(max-width: 645px){
    .FavoritePageQuizesList{
        justify-content: space-around;
    }
}

@media(max-width: 446px){
    .FavoritePageBodyHeader{
        width: 85%;
    }
}
