.NavigationContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.NavigationContainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #222;
    border-bottom: 2px solid rgb(48, 48, 48);
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.NavigationLogoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin-left: 30px;
}

.NavigationMenuBtn{
    width: 30px;
    cursor: pointer;
    display: none;
}

.NavigationLogoContainer h1{
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.NavigationLogoContainer h1 span{
    color: rgb(39, 139, 119);
    font-size: 21px;
}

.DrawerSection1Block h1{
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.DrawerSection1Block h1 span{
    color: rgb(39, 139, 119);
    font-size: 21px;
}

.NavigationSearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.NavigationSearchBar{
    width: 480px;
    padding: 12px 15px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #111; 
    border: 1px solid rgb(48, 48, 48);
    outline: none;
    color: white;
}

.NavigationSearchBtn{
    width: 26px;
    margin-left: 12px;
}

.NavigationProfileContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.NavigationProfileBtn{
    padding: 12px 30px;
    background-color: rgb(39, 139, 119);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 30px;
}

.NavigationDrawer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #111;
}

/* Drawer Navigation */

.NavigationDrawer1{
    display: none;
    z-index: 1;
}

@media(max-width: 1040px){
    .NavigationSearchBar{
        width: 350px;
    }
}

@media(max-width: 950px){
    .NavigationMenuBtn{
        display: flex;
    }

    .NavigationLogoContainer h1{
        margin-left: 15px;
    }

    .NavigationDrawer1{
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        width: 250px;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        background-color: #222;
    }

    .NavigationLogoContainer1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 77px;
    }

    .NavigationLogoContainer1 h1{
        color: white;
        font-size: 21px;
        margin-left: 15px;
        font-weight: bold;
    }

    .NavigationLogoContainer1 h1 span{
        color: rgb(39, 139, 119);
    }

    .NavigationMenuBtn1{
        width: 30px;
        margin-left: 30px;
    }
    
    .NavigationDrawerBlock1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-top: 10px 0px;
    }
    
    .NavigationDrawerBlock1 p{
        color: white;
        margin-left: 15px;
    }
    
    .NavigationDrawerBlock1:first-child{
        padding-top: 80px;
    }
    
    .NavigationDrawerBlockIcon1{
        width: 25px;
        margin-left: 33px;
    }
}

@media(max-width: 840px){
    .NavigationSearchBar{
        width: 70%;
    }

    .NavigationLogoContainer{
        width: 10%;
        margin-left: 25px;
    }

    .NavigationSearchContainer{
        width: 700px;
        justify-content: flex-end;
        margin-right: 25px;
    }
    
    .NavigationProfileContainer{
        display: none;
    }

    .NavigationContainer{
        justify-content: space-between;
    }
}

@media(max-width: 660px){
    .NavigationSearchContainer{
        width: 450px;
    }

    .NavigationContainer1{
        flex-direction: column;
    }

    .NavigationSearchContainer{
        width: 350px;
    }

    .NavigationContainer{
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .NavigationSearchContainer{
        margin: 0px;
        width: 100%;
        background-color: #111;
        padding: 0px;
    }

    .NavigationLogoContainer{
        margin: 15px 0px 15px 20px;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .NavigationLogoContainer h1{
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }

    .NavigationSearchBar{
        width: 100%;
        border: none;
        padding: 12px 20px;
    }

    .NavigationMenuBtn{
        margin-right: 20px;
    }

    .NavigationSearchBtn{
        margin-right: 20px;
    }

    .NavigationSearchBtn{
        width: 24px;
    }

    .NavigationDrawerBlock1:first-child{
        padding-top: 115px;
    }
}

@media(max-width: 400px){
    .NavigationDrawer1{
        width: 100%;
    }
}